<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/examples/src/com/apress/hadoopbook/examples/ch9/BruteForceMapReduceDriver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.apress.hadoopbook.examples.ch9.BruteForceMapReduceDriver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-D range.key.helper=com.apress.hadoopbook.examples.ch9.PartitionedTextKeyHelperWithSeparators -D mapred.reduce.tasks=10 ${env_var:StandardClusterExampleArguments} --deleteOutput  -v  --input searchspace.txt access_log.txt -o range_join"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="examples"/>
</launchConfiguration>
