<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/examples/src/com/apress/hadoopbook/examples/ch9/IPRangePartitionerDriver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.apress.hadoopbook.examples.ch9.IPRangePartitionerDriver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-D mapred.reduce.tasks=10 ${env_var:StandardClusterExampleArguments} -del -v searchspace.txt split_ranges"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="examples"/>
</launchConfiguration>
